$dark-nav-color: #2C3840;

// From "Vibrant" color scheme
$orange: #ff9208;
$gold: #ffbf4f;
$white: #fff;
$red: #d01d53;
$purple: #8d4287;
$blue--astro: #024263;
$blue: #034e7f;
$blue--light: #8cdaf9;
$green: #00a047;
