/*
  Declare HTG brand fonts
*/

// Header fonts
@font-face {
  font-family: "BigJohn";
  src: url("../../fonts/BigJohnPRO-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "BigJohn";
  src: url("../../fonts/BigJohnPRO-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "BigJohn";
  src: url("../../fonts/BigJohnPRO-Light.otf") format("opentype");
  font-weight: 300;
}

// Body fonts
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
