.button {
  display: inline-block;
  background: $blue;
  color: $white;
  transition: all .5s ease-in-out;
  font-size: 1.25rem;
  font-weight: 500;

  &:hover {
    background: $gold;
    color: $blue;
  }
}
