.footer-container {
  @include xy-grid-container;
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;
  font-size: 0.8rem;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer__logo {
    max-width: 100px;
    float: right;
  }
  .widget {
    padding: 0; // reset from <section> declaration on front page
  }
}
